<!-- features fragment -->
<section xmlns:th="http://www.thymeleaf.org" th:fragment="features" class="container section">
    <h2 class="title" th:text="#{features.title}">Features</h2>
    <p class="lead"  th:text="#{features.lead}">Lead from messages</p>
    <div class="features">
        <article class="feature">
            <div class="f-head"><div class="f-icon">📊</div><div class="f-title" th:text="#{features.1.title}">Title</div></div>
            <p class="muted" th:text="#{features.1.desc}">Desc</p>
        </article>
        <article class="feature">
            <div class="f-head"><div class="f-icon">👤</div><div class="f-title" th:text="#{features.2.title}">Title</div></div>
            <p class="muted" th:text="#{features.2.desc}">Desc</p>
        </article>
        <article class="feature">
            <div class="f-head"><div class="f-icon">📁</div><div class="f-title" th:text="#{features.3.title}">Title</div></div>
            <p class="muted" th:text="#{features.3.desc}">Desc</p>
        </article>
        <article class="feature">
            <div class="f-head"><div class="f-icon">🔔</div><div class="f-title" th:text="#{features.4.title}">Title</div></div>
            <p class="muted" th:text="#{features.4.desc}">Desc</p>
        </article>
        <article class="feature">
            <div class="f-head"><div class="f-icon">📈</div><div class="f-title" th:text="#{features.5.title}">Title</div></div>
            <p class="muted" th:text="#{features.5.desc}">Desc</p>
        </article>
        <article class="feature">
            <div class="f-head"><div class="f-icon">🛡️</div><div class="f-title" th:text="#{features.6.title}">Title</div></div>
            <p class="muted" th:text="#{features.6.desc}">Desc</p>
        </article>
    </div>
</section>
